@using KanbaneryStats.Shared
@page "/stats"
@inject HttpClient Http

<h1>Stats</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (taskInfos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Estimate (Pair days)</th>
                <th>Actual (Pair days)</th>
                <th>Factor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var taskInfo in taskInfos)
            {
                <tr>
                    <td>@taskInfo.Title</td>
                    <td>@taskInfo.Estimate</td>
                    <td>@taskInfo.Actual</td>
                    <td>@taskInfo.Factor</td>
                </tr>
            }
        </tbody>
    </table>

    <span>Total records: @taskInfos.Count()</span><br />
    <span>Sum of Actuals / Sum of Estimates: @(taskInfos.Sum(x => x.Actual) / @taskInfos.Sum(x => x.Estimate))</span>
}

@functions {
    TaskInfo[] taskInfos;

    protected override async Task OnInitAsync()
    {
        taskInfos = await Http.GetJsonAsync<TaskInfo[]>("api/Stats/TaskInfo");
    }
}
